/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D6DBD8;
}
/* COMMON */
/* Layout */
.container {
    margin: 0 auto;
    width: 80vw;
    height: 60vh;
    
    position: relative;
    top: -100px;
    left: 0;

    z-index: 9999;
    /* debug */
    border: 1px solid black;
}
.col {
    width: 100%;
    /* debug */
    border: 1px solid black;
}


/* FLEX SETTINGS */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* Background colors */
.bg-white {
    background-color: white;
}

/* HEADER */
.header {
    background-color: #009688;
    height: 150px;
    max-height: 30vh;
}

/* MAIN */
.col-scroll {
    width: 20%;
    height: 100%;
    /* debug */
    /* border: 1px solid black; */
}

.col-main {
    width: 80%;
    height: 100%;
    /* debug */
    border: 1px solid black;
}

/* Minor Cols */
.top-section {
    height: 20%;
    /* debug */
    border: 1px solid black;
    background-color: yellow;
}

.notif-section {
    height: 10%;
    /* debug */
    background-color: blue;
}

.search-section {
    height: 5%;
    /* debug */
    background-color: greenyellow;
}

.main-section {
    height: 65%;
    /* flex-grow: 1; */
}

/* Message Area */
.text-section {
    height: 70%;
}

.type-section {
    height: 10%;
}