:root {
    --scroll-col-width: 300px;
    --top-section-width: 60px;
    --notif-section-width: 50px;
    --search-section-width: 30px;
}
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D6DBD8;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #B1B1B1;
}

/* COMMON */
/* Layout */
.container {
    margin: 0 auto;
    width: 80vw;
    max-width: 1000px;
    height: 60vh;
    
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;

    z-index: 9999;
    /* debug */
    border: 1px solid black;
}
.col {
    width: 100%;
    /* debug */
    border: 1px solid black;
}


/* FLEX SETTINGS */
.flex {
    display: flex;
    /* flex-shrink: 0; */
    /* justify-content: center; */
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

/* Background colors */
.bg-white {
    background-color: white;
}

/* HEADER */
.header {
    background-color: #009688;
    height: 150px;
    max-height: 30vh;
}

/* MAIN */
.col-scroll {
    width: var(--scroll-col-width);
  
    /* debug */
      /* height: 100%; */
    /* border: 1px solid black; */
}

.col-main {
    width: calc(100% - var(--scroll-col-width));
    
    /* debug */
    /* height: 100%; */
    border: 1px solid black;
}

/* Left col*/
/* Top section */
.top-section {
    height: var(--top-section-width);
    /* debug */
    border: 1px solid black;
    background-color: #EAEAEA;
}

/* Icons */
.user-icon {
    padding: 10px;
    /* debug */
    /* background-color: white; */
}
.user-icon img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.options-icons {
    margin: 10px;
    color: #B1B1B1;
    font-size: 1.4rem;
    
    /* debug */ 
    /* background-color: white; */
    /* border: 1px solid black; */
}

.options-icons li {
    padding: 0 10px;
    margin: 10px 5px;
    /* debug */
    /* border: 1px solid black; */
}

/* Notifications Section */
.notif-section {
    height: var(--notif-section-width);
    padding: 5px 10px;
    /* debug */
    background-color: #8EDAFC;
}

.notification-icon {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #8EDAFC;
    background-color: white;
    /* debug */
    /* border: 1px solid black; */
}

.notification-text {
    padding: 10px 0;
    padding-left: 5px;
    font-weight: 600;
    font-size: 0.8rem;
}

.notification-text a {
    font-size: 0.6rem;
    text-decoration: underline;
}

/* Search Section */

.search-section {
    height: var(--search-section-width);
    padding: 5px;
    color: #B1B1B1;
    /* debug */
    background-color: white;
}

#search {
    margin: 0 5px;
    height: 20px;
    width: 80%;
    border: none;
    
}


.main-section {
    height: calc(100% - ( var(--top-section-width) + var(--notif-section-width) + var(--search-section-width)));
    overflow-y: scroll;
    /* debug */
    background-color: lightcoral;
}

/* Right Col */
.text-section {
    height: calc(100% - (40px + var(--top-section-width)));
    overflow-y: scroll;
}

.type-section {
    height: 40px;
}